@use "../base/colors" as *;
@use "../base/mixins" as *;

footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 300px;
  z-index: 1;
  color: $light;
  a {
    color: #ccc;
    &:hover {
      color: $light;
    }
  }
  nav {
    display: flex;
    justify-content: center;
    .footer-nav {
      display: flex;
      width: 100%;
      justify-content: space-between;

      ul h3 {
        font-weight: 600;
        text-shadow: 2px 2px 2px #111a;
      }
    }
  }

  .socials {
    display: flex;
    flex-direction: row;
    padding: 0;

    li img:hover {
      transform: rotate(15deg);
      transition: 250ms;
    }
  }
  ul li {
    position: relative;
  }

  h3 {
    margin: 4vh 0 2vh 0;
  }
  h4 {
    font-weight: 400;
  }
  h5 {
    margin: 0.1px;
    line-height: 0;
    margin-bottom: 2vh;
  }
  .copyright {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #333;
    min-height: 3vh;
    h5 {
      margin: auto;
      text-align: center;
    }
  }
}

// Header
.header {
  z-index: 1;
  button {
    height: 40px;
    display: flex;
    align-items: center;
    &:hover {
      background: $info-300;
    }
  }
}
.navbar-nav .nav-link {
  @include underline-animation($info, 250ms, left center);
}
