@use "../base/colors" as *;
@use "../base/widths" as *;
@use "../base/mixins" as *;

.intro {
  .intro-img {
    max-height: 600px;
    object-fit: cover;
    width: 100%;
    object-position: 0 -200px;
  }
  .hero {
    display: block;
    margin: auto;
    text-align: center;
    @include mw;
    padding: 6vh 0;
  }

  h1 {
    letter-spacing: 2px;
    margin-bottom: 5vh;
  }
  h2 {
    line-height: 30px;
  }

  /* PROGRAMS SECTION */
  .description {
    display: flex;
    gap: 2.25rem;
    h3 {
      flex: 2;
      line-height: 30px;
    }
    .hero-img {
      max-width: 220px;
      display: flex;
      align-items: center;
      flex: 1;
    }
  }

  .program-links {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    li {
      flex: 1;
    }
    a {
      position: relative;
      min-height: 200px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .active {
      position: relative;
      background: $primary !important;
      .primary {
        color: $secondary;
      }
      div {
        position: relative;
        padding: 1.5vh 2.5vw;
        span {
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          position: absolute;
          border: 2px solid $light-500;
          filter: drop-shadow(4px 4px 0px $secondary);
        }
      }
    }
    .child {
      background: $light-500;
    }
    .child2 {
      background: $light-400;
    }
    .ac {
      background: $light-500;
    }
    .biz {
      background: $light-400;
    }
    h1 {
      padding: 0;
      margin: 0;
      line-height: 40px;
    }
    .primary {
      padding-right: 50px;
      font-size: 40px;
      color: $light;
      font-weight: 500;
    }
    .secondary {
      padding-left: 100px;
      color: $light;
      font-weight: 500;
    }
  }
}
