@import "../base/colors";
@import "../base/widths";
@import "../base/mixins";

.border-shadow {
  border: 2px solid $info;
  border-radius: 5em;
  box-shadow: -7px 7px $info, 7px -7px #ffcc29;
  background: white;
}

/* HOME */

.side-image {
  border-radius: 2em;
  overflow: hidden;
  padding: 0;
}

.video-container {
  iframe {
    padding: 0 8vw;
    background: black;
  }
}

.bullet-list {
  list-style-type: disc;
  line-height: 30px;
}

/* All pages */

.myTab {
  li {
    &:first button {
      border-top-left-radius: 2.5em;
    }
    &:last-child button {
      border-top-right-radius: 2.5em;
    }
  }
}

.testimonial {
  .container {
    border-radius: 2em;
  }
  .carousel-inner {
    .carousel-item {
      min-height: 300px;
    }
  }
}

/* CARDS */

.about-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 4em;
  position: relative;
  .bubble {
    z-index: 1;
    padding: 0 10px;
    max-width: 261px;
    filter: grayscale(100%);
    &:hover {
      filter: none;
      transition: all 200ms ease;
    }
  }
  .read-more {
    position: absolute;
    min-width: 200px;
    text-align: center;
    top: 15%;
    background: $info;
    color: $secondary;
  }
  .active {
    filter: none;
  }
}

/* ABOUT.HTML STAFFLIST */
/* ACADEMIC.HTML */

.container {
  .content {
    display: flex;
    flex-direction: column;
    margin: 8vh 3vw;
    h1 {
      text-align: center;
      margin-bottom: 1.8rem;
    }
    h3 {
      padding-top: 5px;
    }
    li {
      margin: 1vw;
      text-align: center;
      img {
        display: block;
        margin: auto;
      }
    }
  }
}
.staff-and-lecturers {
  img {
    min-width: 110px;
  }
  ul {
    padding: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    li {
      display: flex;
      h3 {
        flex-grow: 1;
      }
    }
  }
}
.tes-simulasi a div:hover {
  transition: 250ms;
  background: $info;
  color: white;
  text-shadow: unset;
}

/* DIFFER.HTML TEXT */

.uverti {
  .content {
    display: grid;
    div {
      padding: 2vw;
    }
  }
  span {
    min-width: 40px;
    text-align: center;
  }
  h1 {
    background: url("~img/polygon-2.svg") no-repeat 25% 75%/100% auto;
    color: $info;
    font-size: 4rem;
    font-weight: 700;
  }
  h3 {
    padding: 14px 7px;
  }
}

/* WHO */
.hero-img {
  max-width: 420px;
}
.fake {
  max-width: 370px;
  width: 100%;
}

/* TEST */
.dotgrid {
  position:absolute;
  right: 0;
  top: 0;
  overflow: hidden;
  max-height: 340px;
}

/* ENTIRE PROGRAMS SECTION */
.program-hero h3 {
  font-weight: 700;
}
.link-test {
  h2 {
    color: $light;
  }
  li {
    list-style-type: disc;
    text-align: start !important;
  }
  a {
    text-decoration: underline;
  }
}
.slider {
  color: $dark;
}
/* CONTACT PAGE */
.map {
  background: $light-500;
  border-radius: 3em;
  overflow: hidden;
}
.form {
  h2 {
    color: $light;
  }
}
.message-us {
  border-radius: 10px;
}
.contact-form {
  textarea {
    min-height: 100px !important;
  }
  .submit-button {
    border: 1px solid #3e4095;
    border-radius: 10px;
    box-shadow: 2px 2px #3e4095;
  }
}
