@use "../base/colors" as *;
@use "../base/widths" as *;
@use "../base/mixins" as *;

.border-shadow {
  border: 2px solid $info;
  border-radius: 5em;
  box-shadow: -7px 7px $info, 7px -7px #ffcc29;
  background: white;
}

/* CARDS */

.about-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  .bubble {
    margin: auto;
    padding: 0 10px;
    max-width: 250px;
    filter: grayscale(100%);
    &:hover {
      filter: none;
      transition: all 200ms ease;
    }
  }
  .active {
    filter: none;
  }
}

/* ABOUT.HTML STAFFLIST */
/* ACADEMIC.HTML */

.container {
  .content {
    display: flex;
    flex-direction: column;
    margin: 8vh 3vw;
    h1 {
      text-align: center;
      margin-bottom: 1.8rem;
    }
    h3 {
      padding-top: 5px;
    }
    li {
      margin: 1vw;
      text-align: center;
      img {
        display: block;
        margin: auto;
      }
    }
  }
}
.staff-and-lecturers {
  img {
    min-width: 110px;
  }
  ul {
    padding: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    li {
      display: flex;
      h3 {
        flex-grow: 1;
      }
    }
  }
}
/* DIFFER.HTML TEXT */

.uverti {
  .content {
    display: grid;
    div {
      padding: 2vw;
    }
  }
  span {
    min-width: 40px;
    text-align: center;
  }
  h3 {
    padding: 14px 7px;
  }
}

/* ENTIRE PROGRAMS SECTION */

.link-test {
  h2 {
    color: $light;
  }
  li {
    list-style-type: disc;
    text-align: start !important;
  }
  a {
    text-decoration: underline;
  }
}
.slider {
  color: $dark;
}
/* CONTACT PAGE */
.map {
  background: $light-500;
}
.form {
  h2 {
    color: $light;
  }
}
