@mixin underline-animation($color, $time, $origin) {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  span {
    opacity: 0;
    position: absolute;
    height: 2px;
    width: 100%;
    bottom: 6px;
    background: $color;
    transform: scaleX(0);
    transform-origin: $origin;
    transition: all $time ease-in-out;
    box-shadow: -1px 3px 3px #1115;
  }
  &:hover {
    span {
      opacity: 1;
      transform: scaleX(1);
    }
  }
}
@mixin list-row {
  div {
    display: flex;
    flex-direction: row;
    ul {
      display: flex;
      flex-direction: column;
      flex: 1;

      margin: 0;

      li {
        position: relative;
        list-style-type: none;
      }
    }
  }
}
@mixin list-col {
  ul {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: 0;

    li {
      flex: 1;
      position: relative;
      list-style-type: none;
    }
  }
}
