$font-family-base: Candara, Calibri, Segoe, Segoe UI, Optima, Arial, sans-serif, "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
$h1-font-size: 2.25rem;
$h2-font-size: 1.5rem;
$h3-font-size: 1.125rem;
$h4-font-size: 0.875rem;
$h5-font-size: 0.75rem;
small {
  font-weight: 400;
}
em {
  opacity: 0.82;
  font-weight: 400;
}

@font-face {
  font-family: 'Candara';
  src: url('~fonts/CANDARAB.ttf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Candara';
  src: url('~fonts/CANDARAZ.ttf');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Candara';
  src: url('~fonts/CANDARA.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Candara';
  src: url('~fonts/CANDARAI.ttf');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Candara';
  src: url('~fonts/CANDARAL.ttf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Candara';
  src: url('~fonts/CANDARALI.ttf');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Corbel';
  src: url('~fonts/CORBELB.ttf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Corbel';
  src: url('~fonts/CORBELZ.ttf');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Corbel';
  src: url('~fonts/CORBEL.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Corbel';
  src: url('~fonts/CORBELI.ttf');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Corbel';
  src: url('~fonts/CORBELL.ttf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Corbel';
  src: url('~fonts/CORBELLI.ttf');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Chunkfive';
  src: url('~fonts/CHUNKFIVE-REGULAR.otf');
}

@font-face {
  font-family: 'Tabarra-shadow';
  src: url('~fonts/TABARRA-SHADOW-FFP.otf');
  font-style: normal;
}

@font-face {
  font-family: 'Tabarra-shadow';
  src: url('~fonts/TABARRA-SHADOW-ITALIC-FFP.otf');
  font-style: italic;
}

@font-face {
  font-family: 'TT0524M';
  src: url('~fonts/TT0524M_.ttf');
}