<footer style="background: #444;">
    <div style="height: 110px; overflow: hidden;">
        <svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%; background:#444;">
          <path d="M0.00,92.27 C216.83,192.92 304.30,8.39 500.00,109.03 L500.00,0.00 L0.00,0.00 Z" style="stroke: none;fill: #eee;"></path>
        </svg>
      </div>
    <nav>
        <div class='footer-nav container-xl p-3 text-center text-lg-start'>
            <div class='about-us'>
                <p class="footer-title">About Us</p>
                <ul>
                    <li><a href='./who.html'>Who are We?</a></li>
                    <li><a href='./how.html'>How do We Teach?</a></li>
                    <li><a href='./differ.html'>How do We Differ from Others?</a></li>
                </ul>
            </div>
            <div class='our-programs'>
                <p class="footer-title">Our Programs</p>
                <ul>
                    <li><a href="./children.html">Children English</a></li>
                    <li><a href="./academic.html">Academic English</a></li>
                    <li><a href="./business.html">Business English</a></li>
                </ul>
            </div>
            <div class='upcoming-events'>
                <p class="footer-title">Upcoming Events</p>
                <ul>
                    <li><a href="">SPELL Mid Year Registration<br><small>17 Agustus 2021</small></a></li>
                    <li><a href="">SPELL Test Week<br><small>18 Agustus 2021</small></a></li>
                    <li><a href="">Year End Sale<br><small>19 October 2021</small></a></li>
                </ul>
            </div>
            <div class='follow-us'>
                <p class="footer-title mb-2">Follow Us</p>
                <ul class='socials gap-3 justify-content-center justify-content-lg-start'>
                    <li><a href=""><img src='img/socials/fb.svg' alt='facebook'/></a></li>
                    <li><a href=""><img src='img/socials/Icon-IG.svg' alt='instagram'/></a></li>
                    <li><a href=""><img src='img/socials/Icon-Tiktok.svg' alt='tiktok'/></a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class='copyright py-3'>Copyright 2021. Kursus Bahasa Inggris Sidoarjo | SPELL ELC. All rights reserved.</div>
</footer>