<footer style="background: #444;">
    <div style="height: 110px; overflow: hidden;">
        <svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%; background:#444;">
          <path d="M0.00,92.27 C216.83,192.92 304.30,8.39 500.00,109.03 L500.00,0.00 L0.00,0.00 Z" style="stroke: none;fill: #eee;"></path>
        </svg>
      </div>
    <nav>
        <div class='footer-nav container-xl p-3'>
            <ul class='about-us'>
                <h3>About Us</h3>
                <li>
                    <a href='./who.html'>
                        <h4>Who are We?</h4>
                    </a>
                    <span></span>
                </li>
                <li>
                    <a href='./how.html'>
                        <h4>How do We Teach?</h4>
                    </a>
                    <span></span>
                </li>
                <li>
                    <a href='./differ.html'>
                        <h4>How do We Differ from Others?</h4>
                    </a>
                    <span></span>
                </li>
            </ul>
            <ul class='our-programs'>
                    <h3>Our Programs</h3>
                <li>
                    <a href="./children.html">
                        <h4>Children English</h4>
                    </a>
                    <span></span>
                </li>
                <li>
                    <a href="./academic.html">
                        <h4>Academic English</h4>
                    </a>
                    <span></span>
                </li>
                <li>
                    <a href="./business.html">
                        <h4>Business English</h4>
                    </a>
                    <span></span>
                </li>
            </ul>
            <ul class='upcoming-events'>
                    <h3>Upcoming Events</h3>
                <li>
                    <a href="">
                        <h4>SPELL Mid Year Registration</h4>
                        <h5>17 Agustus 2021</h5>
                    </a>
                </li>
                <li>
                    <a href="">
                        <h4>SPELL Test Week</h4>
                        <h5>18 Agustus 2021</h5>
                    </a>
                </li>
                <li>
                    <a href="">
                        <h4>Year End Sale</h4>
                        <h5>19 October 2021</h5>
                    </a>
                </li>
            </ul>
            <ul class='follow-us'>
                    <h3>Follow Us</h3>
                <ul class='socials gap-3'>
                    <li>
                        <a href="">
                            <img src='img/socials/fb.svg' alt='facebook'/>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src='img/socials/Icon-IG.svg' alt='instagram'/>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src='img/socials/Icon-Tiktok.svg' alt='tiktok'/>
                        </a>
                    </li>
                </ul>
            </ul>
        </div>
    </nav>
    <div class='copyright'>
        <h5>Copyright 2021. Kursus Bahasa Inggris Sidoarjo | SPELL ELC. All rights reserved.</h5>
    </div>
</footer>