<nav class="navbar navbar-expand-lg navbar-light bg-light header">
  <div class="container-fluid container-xl">
    <a class="navbar-brand" href="index.html"><img src="img/Logo-SpellELC.svg" alt="whatsapp-logo" /></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="ms-auto">
        <form class="d-flex container-fluid justify-content-end">
          <a class="btn btn-info me-2 text-success rounded-pill px-1 whatsappBtn" href="#" id="whatsappBtn">
            <div class="d-flex">
              <span class="h3 m-auto me-1 fw-bold">Whatsapp</span>
              <img src="img/socials/Icon-WA.svg" alt="whatsapp-logo" />
            </div>
          </a>
          <a class="btn btn-lg btn-info text-secondary rounded-pill px-2 registerBtn" href="#" id="registerBtn">
            <span class="h3 m-auto fw-bold" data-bs-toggle="modal" href="#modal-register" role="button">Register Now</span>
          </a>
        </form>
        <ul class="navbar-nav mb-2 mb-lg-0 h3">
          <li class="nav-item">
            <a class="nav-link text-primary {{Home}}" aria-current="page" href="./index.html">Home <span></span></a>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link text-primary dropdown-toggle {{About}}" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"> About Us <span></span></a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <img src="~img/polygon-1.svg" style="position: absolute; top: -15px;right: 50%;left: 50%;"></img>
              <li><a class="dropdown-item" href="./who.html">Who are We?</a></li>
              <li><a class="dropdown-item" href="./how.html">How do We Teach?</a></li>
              <li><a class="dropdown-item" href="./differ.html">How do We Differ?</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link text-primary dropdown-toggle {{Programs}}" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"> Programs <span></span></a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <img src="~img/polygon-1.svg" style="position: absolute; top: -15px;right: 50%;left: 50%;"></img>
              <li><a class="dropdown-item" href="./academic.html">Academic English</a></li>
              <li><a class="dropdown-item" href="./business.html">Business English</a></li>
              <li><a class="dropdown-item" href="./children.html">Children English</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link text-primary {{Gallery}}" href="./gallery.html">Events&Gallery <span></span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-primary {{Tests}}" href="./tests.html">Tests <span></span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-primary {{Contact}}" href="./contact.html">Contact Us <span></span></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
<div class="modal fade" id="modal-register" aria-hidden="true" aria-labelledby="Register" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content border-shadow" style="border-radius: 3em; border: 1px solid #28146f">
      <div class="modal-header border-0" style="padding: 1.25rem 1.75rem 0 0;">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body register-modal">
        <h2 class="modal-title fw-bold" style="font-size: 1.5rem;text-shadow:0 3px 3px #1115;" id="Register">Pilihlah form yang anda butuhkan</h2>
        <a href="https://form.jotform.com/212501142418038" target="_blank" class="modal-btn">
          <img src="./img/register/Children.jpg" alt="Children Program" />
          <h1 style="font-size:1.75rem;">Children Program</h1>
        </a>
        <a href="https://form.jotform.com/212503301880444" target="_blank" class="modal-btn">
          <img src="./img/register/Business.jpg" alt="Business Program" />
          <h1 style="font-size: 1.56rem;">Academic & Business Program</h1>
        </a>
        <a href="https://form.jotform.com/212503535893457" target="_blank" class="modal-btn">
          <img src="./img/register/Test.jpg" alt="English Tests" />
          <h1 style="font-size:1.75rem;">English Tests</h1>
        </a>
      </div>
    </div>
  </div>
</div>
