@import "base/colors";
@import "base/widths";
@import "base/typography";
@import "base/mixins";
@import "base/video";
@import "components/pages";
@import "components/intro";
@import "components/footer";

/* BOOTSTRAP STUFF */

@import "../../node_modules/bootstrap/scss/bootstrap";

a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}
.section {
  @include mw;
  display: block;
  margin: auto;
  padding: 5vh 2vw;
}
.btn-close{
  background: transparent url("~img/register/X.svg") center/2em auto no-repeat;
  color: unset;
  opacity: 1;
}
nav {
  box-shadow: 5px 5px 5px #1115;
  .nav-item {
    .active {
      color: $info;
      font-weight: 600;
      span {
        opacity: 1;
        transform: scaleX(1);
      }
    }
  }
}
.dropdown-menu {
  border: none;
  border-radius: 12px;
  box-shadow: 3px 3px 0 $info-200;
  li {
    padding: 0 10px;
  }
  &[data-bs-popper] {
    margin-top: 1.125rem;
  }
}
.dropdown-item {
  &:hover {
    color: $secondary;
    background: url("~img/Rectangle92.svg") no-repeat center/ 100% auto;
  }
}
.max {
  .nav-tabs .nav-item {
    flex: 1;
    .nav-link {
      width: 100%;
    }
  }
  .tab-content {
    border-top-right-radius: 0;
  }
}
.nav-tabs {
  border-bottom: none;
  gap: 1px;
  .nav-link {
    @include underline-animation($info, 250ms, left center);
    border: 0;
    background: $info;
    color: $light;
    font-weight: 400;
    padding: 1vw 2vw;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  button {
    height: 100%;
  }
}
.nav-tabs li:nth-child(3) button {
  background: #5a4b8f;
}
.nav-tabs li:nth-child(4) button {
  background: #7f71ad;
}
.tab-content {
  padding: 2rem;
  background: $light;
  color: $primary;

  border-bottom-left-radius: 2.5em;
  border-bottom-right-radius: 2.5em;
  border-top-right-radius: 2.5em;

  .tab-pane {
    line-height: 1.875rem;
  }
}

.slider {
  .carousel-indicators [data-bs-target] {
    width: 12px;
    height: 12px;
    border: 2px solid $primary;
    border-radius: 50%;
    opacity: 1;
    box-shadow: 1px 1px $primary;
    max-height: 100px;
  }
  .carousel-indicators .active {
    background: $secondary;
  }
  .carousel-control-prev-icon {
    background-image: url("../img/prev.png");
  }
  .carousel-control-next-icon {
    background-image: url("../img/next.png");
  }
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    width: 1.5rem;
    height: 3rem;
  }
  .carousel-item {
    img {
      width: 100%;
    }
  }
  .carousel-item.active {
    display: flex;
    justify-content: center;
  }
  .slider-img {
    max-width: 150px;
  }
  .title {
    padding: 1.5rem;
  }
  .caption {
    padding: 3rem;
  }
  #testimony {
    .carousel-item {
      flex-direction: column;
    }
    .carousel-item.active {
      justify-content: unset;
    }
    .caption p {
      height: 50px;
      overflow-y: auto;
    }
  }
  #first-slider {
    .carousel-item {
      max-height: 600px;
    }
    .carousel-indicators {
      bottom: 25%;
    }
    .carousel-item {
      img {
        min-width: 600px;
        height: 100%;
      }
      .carousel-caption {
        right: 0;
        left: 0;
        width: 100%;
        background: #111a;
        height: 90px;
        padding: 0.75rem 0;
        font-size: 1.1em;
      }
    }
  }
}

.wave {
  height: 50px;
  overflow: hidden;
  position: absolute;
  width: 100%;
  bottom: 0;

  svg {
    height: 100%;
    width: 100%;
    background: #eee0;
    transform: rotate(180deg);

    path {
      stroke: none;
      fill: #fff;
    }
  }

  &.tall {
    height: 100px;
  }
}

.wave-2 {
  height: 100px;
  overflow: hidden;

  svg {
    height: 100%;
    width: 100%;
    background: #eee;

    path {
      stroke: none;
      fill: #eee;
    }
  }

  &.tall {
    height: 150px;
  }
}

.gallery {
  h2 {
    width: 100%;
    height: auto;
    padding: 0;
    font-size: 24px;
    margin-bottom: 1rem;
    justify-content: left;
    text-align: left;
  }
  gap: 20px;
  .nav {
    flex: 1;
  }
  .tab-content {
    flex: 3;
    background: none;
  }
  .nav-link {
    color: $info;
    text-align: start;
    border-radius: 2rem;
    min-width: 177px;
  }
  .nav-pills .nav-link.active,
  .nav-pills .show > .nav-link {
    color: $info;
    background-color: $secondary;
    border: 1px solid $info;
    box-shadow: 1px 1px $info;
  }
  .carousel {
    border-radius: 30px;
    overflow: hidden;
    .carousel-indicators {
      margin: 0 !important;
      position: relative;
    }
    .carousel-control-prev-icon {
      background-image: url("../img/prev.png");
    }
    .carousel-control-next-icon {
      background-image: url("../img/next.png");
    }
    .carousel-control-prev-icon,
    .carousel-control-next-icon {
      width: 2rem;
      height: 4rem;
    }
    .carousel-indicators [data-bs-target] {
      width: 100%;
      margin: 0;
      border: none;
      height: auto;
      padding: 0;
      border-radius: unset;
      max-height: 100px;
    }
  }
  .carousel-caption {
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #1119;
    padding: 10px 0;
  }
  .next-button {
    border: 1px solid black;
    box-shadow: 1px 1px black;
    border-radius: 8px;
  }
  .carousel-item {
    max-height: 500px;
    overflow: hidden;
  }
}
.accordion {
  color: $primary;
  text-align: start;
  border-radius: 3rem;
  overflow: hidden;
  li {
    list-style-type: disc;
  }
  .accordion-button:not(.collapsed) {
    // color: #202250;
    // background-color: #fff;
    box-shadow: none;
  }
  .accordion-button {
    padding-left: 2.25rem;
    background: $info;
    color: #fff;
  }
  .accordion-item {
    border: none;
    margin-bottom: 2px;
  }
  .accordion-body {
    padding: 1rem 2.25rem;
  }
  .accordion-button:after {
    display: none;
  }
}
.accordion .accordion-item:nth-child(1) .accordion-button {
  background: $info;
}
.accordion .accordion-item:nth-child(2) .accordion-button {
  background: $info;
}
.accordion .accordion-item:nth-child(3) .accordion-button {
  background: $info-300;
}
.accordion .accordion-item:nth-child(4) .accordion-button {
  background: $info-400;
}
.accordion .accordion-item:nth-child(5) .accordion-button {
  background: $info-500;
}

.flex-1 {
  flex: 1 !important;
}

.bg-light-grey {
  background-color: #eee !important;
}

.bg-dark-2 {
  background-color: $dark-2 !important;
}

.circle {
  border-radius: 50% !important;
}

.gap-unset {
  gap: unset !important;
}

.p-b-100 {
  padding-bottom: 100px !important;
}

.rotate-180 {
  transform: rotate(180deg);
}

.fill-white {
  fill: #fff !important;
}

.fill-grey {
  fill: #eee !important;
}

.fill-blue {
  fill: #28146f !important;
}

.rect-92 {
  background: url('../img/Rectangle92.svg') center no-repeat;
}

.rect-93 {
  background: url('../img/Rectangle93.svg') center no-repeat;
}

.rect-94 {
  background: url('../img/Rectangle94.svg') no-repeat center;
}

.rect-94-long {
  background: url('../img/Rectangle94long.svg') center no-repeat;
}

.rect-95 {
  background: url('../img/Rectangle95.svg') center no-repeat;
}

.rect-96 {
  background: url('../img/Rectangle96.svg') no-repeat center/ 100% auto;
}
.line-height-1 {
  line-height: 1;
}
.line-height-2 {
  line-height: 1.8;
}
.text-justify {
  text-align: justify !important;
}
.max-620 {
  display: inline-block;
  max-width: 620px !important;
}

/* MEDIA QUERIES */

@include media-breakpoint-down(xl) {
  .intro .intro-img {
    object-position: 0 0;
  }
}

@include media-breakpoint-up(lg) {
  .navbar-expand-lg .navbar-nav .nav-link {
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    padding-right: 0;
    padding-left: 0;
  }
  .min-750 {
    display: inline-block;
    min-width: 750px !important;
  }
}
@include media-breakpoint-down(lg) {
  footer {
    nav .footer-nav {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      margin: 8vh 0;
    }
    ul {
      height: 100%;
    }
  }
  .navbar form {
    justify-content: center !important;
  }
  .hero-img {
    display: none !important;
  }
  .intro-forms {
    flex-direction: column;
  }
}
@include media-breakpoint-down(md) {
  html {
    font-size: 87.5%;
  }
  .uverti .content {
    display: block;
  }
  .style2 {
    font-size: 2rem;
    padding: 1rem;
    width: 160px;
    height: 100px;
  }
}
@include media-breakpoint-down(sm) {
  html {
    font-size: 75%;
  }
  .gallery {
    flex-direction: column;
    .nav {
      flex-direction: row !important;
      gap: 10px;
    }
    .nav-link {
      width: fit-content;
      min-width: 0;
    }
    .nav-pills .nav-link,
    .nav-pills .show > .nav-link {
      width: 45%;
      text-align: center;
    }
  }
  .intro-forms .text-end {
    display: none;
  }
  .home {
    flex-direction: column;
    min-height: 75vh;
  }
  .style2 {
    font-size: 2rem;
    padding: 1rem;
    width: 120px;
    height: 80px;
  }
  .staff-and-lecturers {
    .fake {
      display: none;
    }
  }
}
